<!-- Herda do template base -->
{% extends "baseTemplate.html" %}

<!-- Determinar o titulo para quando este template está a ser utilizado -->
{% block title %}Página Inicial{% endblock %}

<!-- Conteúdo do template -->
{% block page %}
<section id="myStationsPage" class="container-fluid">
    <h3 class="mt-4">Your added stations list</h1>
    <div class="container-fluid text-center">
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Continent</th>
                                    <th>Country</th>
                                    <th>Capacity (MW)</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                    <th>Creation Date</th>
                                </tr>
                            </thead>
                            <tbody id="myStationsTable">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    // Executar quando o DOM estiver completamente carregado
    document.addEventListener("DOMContentLoaded", function() {
    // Obter as estações do utilizador do servidor com showMyStations: true e myStationsOnly: true
    fetch('/getStations', { 
        method: 'POST', 
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({filters:"", showMyStations: true, myStationsOnly: true}) 
    })
    .then(response => response.json())
    .then(data => {

        // Se não existirem estações, alertar o utilizador
        if (!data || data.length === 0) alert('Yet no added stations. Add your own stations in the user menu!');
        
        // Caso contrário, criar uma tabela dinâmica e preencher a tabela com as estações
        const table = document.getElementById('myStationsTable');
        data.forEach(station => {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td>${station.name}</td>
                <td>${station.continent}</td>
                <td>${station.country}</td>
                <td>${station.capacity}</td>
                <td>${station.latitude}</td>
                <td>${station.longitude}</td>
                <td>${station.timestamp}</td>
            `;
            table.appendChild(row);
        });
        
    })
    .catch(error => {
        console.error('Error fetching solar data:', error);
        alert('Error loading solar station data. Please try again later.');
    });
});
</script>
{% endblock %}