<!-- Herda do template base -->
{% extends "baseTemplate.html" %} 

<!-- Determinar o titulo para quando este template está a ser utilizado -->
{% block title %}Criar Conta{% endblock %}
{% block page %}

<section id="registerFormPage" class="h-100 h-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <img src="https://i.pinimg.com/originals/21/ef/e8/21efe8daa759813161641eb6bae7d22b.png"
                        class="w-100"
                        style="max-height:12rem; object-fit: cover; object-position: bottom; border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                        alt="Sample photo">
                    <div class="card-body p-4 ml-3 bg-primary text-white border-top-left-radius: .3rem; border-top-right-radius: .3rem;">
                        <h3 class="mt-2 mb-5">Create Account</h3>

                        <!-- Inicio do formulário de registo -->
                        <form class="w-100" style="max-width: 650px;" onsubmit="return registerValidator()" action="/register" method="POST" name="registerForm">
                            <div class="row g-3 align-items-center mb-4">
                                <div class="col-3"><label for="regEmail" class="col-form-label">Email</label></div>
                                <div class="col-auto"><input type="text" id="regEmail" class="form-control border-2" aria-describedby="emailHelpInline" name="email" required></div>
                                <div class="col-auto"><span id="regEmailHelpInline" class="form-text text-white">example@example.com</span></div>
                            </div>
                            <div class="row g-3 align-items-center mb-4">
                                <div class="col-3"><label for="regEmail2" class="col-form-label">Confirm Email</label></div>
                                <div class="col-auto"> <input type="text" id="regEmail2" class="form-control border-2" aria-describedby="regEmail2HelpInline" required></div>
                                <div class="col-auto"><span id="regEmail2HelpInline" class="form-text text-white">Just making sure..</span></div>
                            </div>
                            <div class="row g-3 align-items-center mb-4 mt-3">
                                <div class="col-3"><label for="regPwd" class="col-form-label">Password</label></div>
                                <div class="col-auto"><input type="password" id="regPwd" class="form-control border-2" aria-describedby="regPwdHelpInline" name="pwd" required></div>
                                <div class="col-auto"><span id="regPwdHelpInline" class="form-text text-white">4-8 characters long and a digit</span></div>
                            </div>
                            <div class="row g-3 align-items-center mb-4">
                                <div class="col-3"><label for="regPwd2" class="col-form-label">Confirm Password</label></div>
                                <div class="col-auto"><input type="password" id="regPwd2" class="form-control border-2"aria-describedby="regPwd2HelpInline" required></div>
                                <div class="col-auto"><span id="regPwd2HelpInline" class="form-text text-white">Just making sure again..</span></div>
                            </div>
                            <div class="row g-3 align-items-center mt-5 mb-2">
                                <div class="col-auto"><button type="submit" class="btn btn-success">Create Account</button></div>
                                <div class="col-auto"><button type="reset" class="btn btn-danger">Clear Form</button></div>
                            </div>
                        </form>
                        <!-- Fim do formulário de registo -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    // Executar quando o DOM estiver completamente carregado
    document.addEventListener('DOMContentLoaded', () => {
        //Adicionar feedback visual aos campos de formulário através da função presente
        document.getElementById('regEmail').addEventListener("input", fieldFormatFeedback);
        document.getElementById('regEmail2').addEventListener("input", fieldFormatFeedback);
        document.getElementById('regPwd').addEventListener("input", fieldFormatFeedback);
        document.getElementById('regPwd2').addEventListener("input", fieldFormatFeedback);
    });
</script>
{% endblock %}