<!-- Inicio da barra de navegação -->
<section id="navbar">
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand ms-3" href="/">
        <!-- Logotipo e nome -->
        <img src="../../static/favicon.ico" alt="GeoSolar" width="40" height="40">
        <a class="navbar-brand" href="/">GeoSolar</a>
      </a>

      <!-- Para mostrar opções em ecrãs pequenos -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Itens da barra de navegação -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" id="homeRef" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="mapRef" href="/map">World Map</a>
          </li>
          <!-- Mostrar a opção My Stations apenas se for uma conta ativada -->
          {% if session['activated'] %}
          <li class="nav-item">
            <a class="nav-link active" id="mapRef" href="/mystations">My Stations</a>
          </li>
          {% endif %}
        </ul>
        
        <!-- Se houver uma sessão iniciada, incluir na barra de navegação o menu de utilizador -->
        {% if session['email'] %}
          {% include "components/navbar/navbarUserMenu.html"%}
        
        <!-- Se não houver uma sessão iniciada mostrar o formulário de login, que é embebido na barra de navegação -->
        {% else %}
          {% include "components/navbar/navbarForm.html"%}
        {% endif %}
      </div>
    </div>
  </nav>
</section>

<style>
  /* Aumentar a distância entre itens da barra de navegação */
  .navbar-nav>li {
    margin-left: 10px;
    margin-right: 10px;
  }
</style>