<!-- Pop-up de formulário adicionar estação -->
<section class="modal fade" id="addStationModal" tabindex="-1" aria-labelledby="addStationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-white">
            <div class="modal-header">
                <!-- Titulo -->
                <h1 class="modal-title fs-5" id="addStationModalLabel">Create My Station</h1>
                <!-- Botão de fechar -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Formulário de adicionar estação -->
            <form action="/addMyStation" enctype="multipart/form-data" onsubmit="return addStationValidator()" method="POST" name="addStationForm">
                <div class="modal-body">

                    <div class="input-group mb-4">
                        <input type="text" class="form-control" placeholder="Station Name" id="stationName" name="stationName" required>
                    </div>

                    <div class="input-group mb-2">
                        <input type="text" class="form-control" placeholder="Continent" id="stationContinent" name="stationContinent"required>
                        <input type="text" class="form-control" placeholder="Country" id="stationCountry" name="stationCountry" required>
                    </div>

                    <div class="input-group mb-4">
                        <input type="text" class="form-control" placeholder="Latitude" id="stationLatitude" name="stationLat" required>
                        <input type="text" class="form-control" placeholder="Longitude" id="stationLongitude" name="stationLng" required>
                    </div>

                    <div class="input-group mb-4">
                        <input type="text" class="form-control" placeholder="Capacity" id="stationCapacity" name="stationCapacity" required>
                    </div>

                    <!-- Deixar o utilizador decidir se quer deixar a imagem a cargo da aplicação (satélite) ou escolher uma foto personalizada -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="sat" name="imgSrc" id="sat" checked>
                        <label class="form-check-label" for="sat">Use sattelite photo</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="own" name="imgSrc" id="own">
                        <label class="form-check-label" for="own">Use my own photo</label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    // Executar quando o DOM estiver completamente carregado
    document.addEventListener('DOMContentLoaded', function () {
        const satRadio = document.getElementById('sat');
        const ownRadio = document.getElementById('own');
        const modalBody = document.querySelector('.modal-body');

        // Adicionar um listener para quando o utilizador escolhe a opção de usar a sua própria foto renderizar o input de ficheiro extra
        ownRadio.addEventListener('change', function () {
            if (ownRadio.checked) {
                const attachFileDiv = document.createElement('div');
                attachFileDiv.classList.add('input-group');
                attachFileDiv.id = 'attachFileDiv';
                attachFileDiv.innerHTML = '<input type="file" class="form-control mt-2" id="img" name="stationImg" required>';
                modalBody.appendChild(attachFileDiv);
            }
        });

        // Adicionar um listener para quando o utilizador escolhe a opção de usar a foto de satélite remover o input de ficheiro extra
        satRadio.addEventListener('change', function () {
            const attachFileDiv = document.getElementById('attachFileDiv');
            if (attachFileDiv) {
                attachFileDiv.remove();
            }
        });
    });
</script>