<!-- Secção de filtros -->
<div class="row align-items-center">
    <div class="col">
        <select class="selectpicker" id="name" data-live-search="true" multiple data-selected-text-format="count > 3" title="Search By Name">

            <!-- "options" é um objeto enviado pelo servidor na chamada deste template, 
            carrega consigo um dicionário de valores possíveis para cada campo filtrável disponível
            onde a chave para os valores é o nome do campo (campos disponíveis listados na inicialização da API) -->

            <!-- Por cada valor possível para o campo "name", criar uma opção nas escolhas do select -->
            {% for option in options['name'] %}
            <option data-tokens="{{ option }}">{{ option }}</option>
            {% endfor %}
            <!-- Idêntico para todos os filtros abaixo -->

        </select>
    </div>
    <div class="col">
        <select class="selectpicker" id="capacity" data-live-search="true" multiple data-selected-text-format="count > 3" title="Capacity">
            {% for option in options['capacity'] %}
            <option data-tokens="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <select class="selectpicker" id="continent" data-live-search="true" multiple data-selected-text-format="count > 3" title="Continent">
            {% for option in options['continent'] %}
            <option data-tokens="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <select class="selectpicker" id="country" data-live-search="true" multiple data-selected-text-format="count > 3" title="Country">
            {% for option in options['country'] %}
            <option data-tokens="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <select class="selectpicker" id="owner" data-live-search="true" multiple data-selected-text-format="count > 3" title="Owner">
            {% for option in options['owner'] %}
            <option data-tokens="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <select class="selectpicker" id="operator" data-live-search="true" multiple data-selected-text-format="count > 3" title="Operator">
            {% for option in options['operator'] %}
            <option data-tokens="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="d-flex container-fluid mt-3">
    <!-- Mostrar a opção para o utilizador carregar as suas estações adicionadas caso esteja numa conta ativada -->
    {% if session['activated']%}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="myStationsCheckbox">
            <label class="form-check-label" for="myStationsCheckbox">Load my stations</label>
        </div>
    {% endif %}
    <div class="ms-3" id="stationCount"></div>
</div>

<style>
    /* Limitar a largura das escolhas dos selects */
    .dropdown-menu .inner .show {
        max-width:5rem;
    }
</style>
